/*
colores a usar en la pagina 
#551A8B

#181733

#222222  
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    background: white;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    /* Flexbox */
    display: flex;
    flex-flow: row wrap;
}

body {
    background: gray;
}

header {
    background: #181733;
    width: 100%;
    padding: 20px;
    /* Flexbox */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

header .logo {
    color: #fff;
    font-size: 30px;
}

header .logo img {
    width: 50px;
    vertical-align: top;
}

header .logo a {
    color: #fff;
    text-decoration: none;
    line-height: 50px;
}

header nav {
    width: 50%;
    /* Flexbox */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header nav a {
    background: #551A8B;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    /* Flexbox */
    flex-grow: 1;
}

header nav a:hover {
    background: #e74c3c;
}

.main {
    background: #fff;
    padding: 20px;
    /* Flexbox */
    flex: 1 1 70%;
    /*flex: 1;*/
}

.main article {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
    text-align: justify;
}

.main article:nth-last-child(1) {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

aside {
    background: #154284;
    padding: 20px;
    /* Flexbox */
    flex: 1 1 30%;
    /*flex: 0 0 260px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}

aside .widget {
    background: #551A8B;
    height: 150px;
    margin-top: 10px;
}

footer {
    background: #181733;
    width: 100%;
    padding: 20px;
    /* Flexbox */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .links {
    background: #551A8B;
    /* Flexbox */
    display: flex;
    flex-wrap: wrap;
}

footer .links a {
    color: #fff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    /*Flexbox*/
    flex-grow: 1;
}

footer .links a:hover {
    background: #e74c3c;
}

footer .social {
    background: #551A8B;
    font-size: 20px;
}

footer .social i {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

footer .social i:hover {
    background-color: #551A8B;
    color: #e74c3c;
}


/*-----------------------@MEDIA SCREEN--------------------*/

@media screen and (max-width: 800px) {
    .contenedor {
        flex-direction: column;
    }
    header {
        flex-direction: column;
        padding: 0;
    }
    header .logo {
        margin: 20px 0;
    }
    header nav {
        width: 100%;
    }
    aside {
        flex-direction: row;
        flex: 0;
    }
    aside .widget {
        flex-grow: 1;
        margin: 10px;
    }
}

@media screen and (max-width: 600px) {
    aside {
        flex-direction: column;
    }
    footer {
        justify-content: space-around;
    }
    footer .social {
        margin: 20px 0;
    }
}